body{
	margin: 0vh;
	padding: 0vh;
	background: white;
	background-image: url('png/bg.jpg');
}
.nv-ig{
	width: 50px;
	margin-left: 1px;
	margin-right: 1px;
}
#screen{
	width: 100%;
	height: 85vh;
}
footer{
	width: 100%;
	text-align: center;
	align-content: center;
	position: fixed;
	top: 90vh;
}
#nv{
	width: 312px;
	border-radius: 10px;
	background: black;
	margin: 1vh;
	text-align: center;
}

.nv-ig:hover{
	background: white;
	box-shadow: 0px 0px 5px white;
}
#nv:hover{
	box-shadow: 0px 0px 5px black;
}
.window{
	position: relative;
	left: 10%;
	width: 80%;
	height: 75vh;
	background: white;
	margin: 1vh;
	padding: 0px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px black;
}
.window-title{
	text-align: left;
	padding: 1vh;
	color: white;
	font-size: 23px;
	text-align: center;
	width: 100%;
	background: black;
	border-radius: 10px 10px 0px 0px;
	padding: 0px;
}
.window-title-btn{
	float: right;
	border-radius: 0px 10px 0px 0px;
	background: red;
	color: white;
	font-size: 18px;
	border-width: 0px;
}
.window-title-btn:hover{
	background: white;
	color: red;
}
.window-content{
	width: 100%;
	font-size: 17px;
}
textarea{
	width: 90%;
	border-width: 0px;
	font-size: 20px;
	height: 100%;
	border-radius: 0px 0px 10px 10px;
}
.folder-list{
	width: 30%;
	float: left;
	height: 100%;
	overflow: scroll;
}
.fldr-btn{
	width: 100%;
	background: white;
	color: black;
	border:solid;
	font-size: 20px;
	padding: 1vh;
}
.file-list{
	overflow: scroll;
	width: 70%;
	float: right;
	text-align: left;
	font-size: 20px;
}

.fldr-btn:hover{
	background: black;
	color: white;
	border-color: black;
}
.fle-p{
	width: 100%;
	padding-left: 5px;
}
.fle-p:hover{
	background: black;
	color: white;
}